.superior-cortado {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.superior-cortado>.superior-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    /*Con esto inclinamos los grados*/
    transform: skewY(-6deg);
    /*Con esto indicamos desde donde empieza*/
    transform-origin: top left;
    filter: brightness(50%);
}

.superior-cortado>.contenido-divicion-cortado {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.superior-cortado>.contenido-divicion-cortado>.contenido-cortado-superior {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.superior-cortado>.contenido-divicion-cortado>.contenido-cortado-superior>.contenido-superior {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;
}